html {
  background: hsl(210deg 15% 6%);
}

.wrapper {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 85%;
  max-width: 26rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  pointer-events: none;
}
.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  background: white;
  color: black;
  padding: 1rem;
  border-radius: 4px;
  font-size: 0.875rem;
  pointer-events: auto;

  button {
    flex-shrink: 0;
    border: none;
    background: transparent;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 200ms;
    
    &:hover {
      background: hsl(0deg 0% 0% / 0.1);
    }
  }

  svg {
    display: block;
    width: 16px;
    height: 16px;
    fill: none;
    stroke: black;
    stroke-width: 2px;
    stroke-linecap: round;
  }
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body:not(:has(.notification))::before {
  content: 'Refresh the pane to reload the notifications.';
  position: absolute;
  inset: 0;
  width: 80%;
  height: fit-content;
  margin: auto;
  color: white;
  text-align: center;
  animation: fadeFromTransparent 1000ms 750ms both;
}
@keyframes fadeFromTransparent {
  from {
    opacity: 0;
  }
}