body {
  background: hsl(210deg 15% 6%);
  color: white;
  font-family: 'Caveat', cursive;
  padding-block: 3rem;
}
.title {
  text-align: center;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: 500;
 }