body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: hsl(210deg 15% 6%);
}
button {
	width: 200px;
	height: 200px;
	padding: 0;
	background: transparent;
	border: 1px solid hsl(210deg 25% 25%);
	cursor: pointer;
}
svg {
	display: block;
	width: 100%;
	height: 100%;
}
.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	white-space: nowrap;
}

@media (prefers-reduced-motion: no-preference) {
	.heart-fill {
		transition: y 750ms
			linear(
				0,
				0.012 0.9%,
				0.049 2%,
				0.409 9.3%,
				0.513 11.9%,
				0.606 14.7%,
				0.691 17.9%,
				0.762 21.3%,
				0.82 25%,
				0.868 29.1%,
				0.907 33.6%,
				0.937 38.7%,
				0.976 51.3%,
				0.994 68.8%,
				1
			);
	}
}
